content{float: left;
		width: 60%;
	background-color: blue;
	height: 350px;
	margin-top: 20px;
	margin-bottom: 20px;}

	header{
	width: 100%;
	background-color: red;
	height: 50px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;

	}

.wide-column
{
	width: 38%;
	background-color: red;
	height: 350px;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 20px;

	float: right;
}

footer{float: left;
		width: 100%;
	background-color: blue;
	height: 80px;}