body
{
	background-color: #00FFA9;
}

ul
{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li
{
	float: left;
	border-right: 1px solid #1E41FF;
}

li a
{
	display: block;
	padding: 8px 10px;
	color: white;
	text-align: center;
	text-decoration: none;
}

li a:hover {
    background-color: #1E41FF;
}

.activo
{
    background-color: #11B4FF;
}


.info
{
	float: right;
}

.titulo
{
 
  position: relative;
  top: -20px;
}

.menu
{
  position: relative;
  top: -20px;
  width: 100%;
}

.menu2
{
	position:relative; 
	top: -170px;
	left: 12px;
	width: 20%;
	height: 10%;
	margin: 20px;
	overflow: hidden;
	padding: 15px;
	float: right;
	background-color: #d8ecf7;
	border: 1px solid #afcde3;
	text-align: center;

}


.registro
{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    float: right;
    position: relative;
	top: -65px;
}

.registro:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.imagen
{
	float: left;
	position:relative; 
	top: 25px;
}

.post1
{
	position:relative; 
	top: 20px;
	left: 20px;
	width: 45%;
	height: 40%;
	margin: 25px;
	overflow: hidden;
	padding: 40px;
	float: left;
	background-color: #d8ecf7;
	border: 1px solid #afcde3;
}

.imagen2
{
	position:relative; 
	top: 300px;
	left: -74%;
	
}

.post2
{
	position:relative; 
	top: 130px;
	left: 265px;
	width: 45%;
	height: 40%;
	margin: 10px;
	overflow: hidden;
	padding: 40px;
	float: left;
	background-color: #d8ecf7;
	border: 1px solid #afcde3;
}

.video1
{
	position: absolute;
	right: 30px;
	bottom: 120px;
}

.video2
{
	position: absolute;
	right: 30px;
	bottom: -120px;

}

footer
{
	position: absolute;
	bottom: -400px;

	
}